/********** HEADER **********/

body
  width: 375px
  margin: 0

header
  h1
    font-family: Shrikhand
    font-size: 30px
    font-weight: 400
    color: #101010
    margin: 0
  i
    font-size: 16px
    color: #353535
  input
    font-weight: 500
    font-size: 16px
    color: #353535
    background-color: transparent
    border: none    
    &::placeholder
      font-size: 16px
      color: #353535
    &#city
      width: 109px
  .header__form
    display: flex
    justify-content: center
    align-items: center
    gap: 17px
    height: 50px
    width: 100%
    background-color: #eaeaea
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  .header__title
    height: 63px
    width: 100%
    background-color: white
    display: flex
    align-items: center
    justify-content: center
    position: relative
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)

/********** FIN HEADER **********/

/********** SECTION EXPLORER **********/

