/********** GENERAL **********/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 375px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-self: center;
}

/********** VARIABLES **********/

:root {
    --primary-color: #9356dc;
    --secondary-color: #ff79da;
    --tertiary-color: #99e2d0;
    --font-title: 'Shrikhand', serif;
}